@using PustokHomework.Models
@model List<Book>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="product-slider multiple-row  slider-border-multiple-row  sb-slick-slider"
     data-slick-setting='{
                            "autoplay": true,
                            "autoplaySpeed": 8000,
                            "slidesToShow": 5,
                            "rows":1,
                            "dots":true
                        }' data-slick-responsive='[
                            {"breakpoint":1200, "settings": {"slidesToShow": 3} },
                            {"breakpoint":768, "settings": {"slidesToShow": 2} },
                            {"breakpoint":480, "settings": {"slidesToShow": 1} },
                            {"breakpoint":320, "settings": {"slidesToShow": 1} }
                        ]'>


    @foreach (var book in Model)
    {
        <div class="single-slide">
            <div class="product-card">
                <div class="product-header">
                    <a href="#" class="author">
                        @book.Author.FullName
                    </a>
                    <h3>
                        <a asp-action="detail" asp-controller="book" asp-route-id="@book.Id">
                            @book.Name
                        </a>
                    </h3>
                </div>
                <div class="product-card--body">
                    <div class="card-image">
                        <img src="~/uploads/@book.BookImages.FirstOrDefault(x => x.IsPoster == true)?.Image" alt="">
                        <div class="hover-contents">
                            <a asp-action="detail" asp-controller="book" asp-route-id="@book.Id" class="hover-image">
                                <img src="~/uploads/@book.BookImages.FirstOrDefault(x => x.IsHoverPoster == true)?.Image" alt="">
                            </a>
                            <div class="hover-btns">
                                <a asp-action="addbasket" asp-controller="book" asp-route-id="@book.Id" class=" add-basket single-btn">
                                    <i class="fas fa-shopping-basket"></i>
                                </a>
                                <a href="wishlist.html" class="single-btn">
                                    <i class="fas fa-heart"></i>
                                </a>
                                <a asp-action="detail" asp-controller="book" asp-route-id="@book.Id" class="single-btn">
                                    <i class="fas fa-random"></i>
                                </a>
                                <a asp-action="BookModalPartial" asp-controller="home" asp-route-id="@book.Id" class="single-btn  book-modal" data-id="@book.Id">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="price-block">
                        @if (book.DiscountPercent > 0)
                        {
                            <span class="price">£@book.DicountedPrice</span>
                            <del class="price-old">£@book.Price</del>
                            <span class="price-discount">@book.DiscountPercent%</span>
                        }
                        else
                        {
                            <span class="price">£@book.Price</span>
                        }


                    </div>
                </div>
            </div>
        </div>

    }
</div>